body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    box-sizing: border-box; /* 追加 */
}

*, *:before, *:after {
    box-sizing: inherit; /* 追加 */
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: #111;
    flex: 0 0 20%;
    max-width: 300px;
    min-width: 200px;
    overflow: auto;
    padding-bottom: 60px; /* 追加: フッターの高さ分の余白を追加 */
}

.main-content {
    background-color: #333;
    flex: 1;
    overflow: auto;
    padding-bottom: 60px; /* 追加: フッターの高さ分の余白を追加 */
}

.sidebar, .main-content {
    overflow-y: auto;
    height: 100%;
}

.sidebar-footer, .main-footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* 'inherit' から '100%' に変更 */
    padding: 10px;
    background-color: #222;
    z-index: 10;
}

.sidebar-footer img {
    height: 50px;
    width: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px; /* 追加: フッターの高さ分の余白を確保 */
}

li a {
    color: white;
    text-decoration: none;
}

table {
    width: 100%;
}

/* フッターの高さ分のスペースを確保 */
.main-content::after, .sidebar::after {
    content: "";
    display: block;
    height: 60px;
}

/* メニューボタンのスタイル */
.menu-button {
    display: none; /* 最初は非表示にする */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 20;
    font-size: 30px;
    cursor: pointer;
}

/* スマホサイズのときのスタイル */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 80%; /* 画面の8割 */
        height: 100%;
        right: -80%; /* 右側から出てくるように初期位置を設定 */
        transition: right 0.3s; /* アニメーションのための設定 */
    }

    .main-content {
        width: 100%;
    }

    .menu-button {
        display: block; /* メニューボタンを表示する */
    }

    /* サイドバー表示時のスタイル */
    .show-sidebar .sidebar {
        right: 0; /* サイドバーを表示 */
    }

    .show-sidebar .menu-button {
        /* ここでメニューボタンのスタイルを変更して「閉じる」を表現する */
    }
}